@import "src/App";
.noteOuterWrapper {
  margin: 50px 0;
  .noteInnerWrapper {
    display: flex;
    margin: 10px 0;
    border: 2px solid $borderColor;
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    .note {
      flex: 0 1 80%;

    }

    .noteBody {
      font-size: 1.5em;

    }



    .noteDescription {
      word-wrap: anywhere;
      line-height: 25px;
    }

    .noteButtons {
      flex: 0 0 20%;
      @media (max-width: 729px){
        font-size: 1.2em;
      }
    }

    .btnDefault {
      display: flex;
      justify-content: flex-end;
      margin-left: 10px;

      button + button {
        margin-left: 15px;
      }
    }

  }
}